.title {
  width: 60%;
  margin: 0 auto;
  padding: 25px;
}
.title__flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
}
.title__button {
  display: flex;
  justify-content: center;
  margin: 10px;
}
button {
  background-color: #3599ffe0;
  padding: 8px;
  border-radius: 15px;
}
@media (max-width: 768px) {
  .title {
    width: 80%;
    margin: 0 auto;
    padding: 25px;
  }
  .title__flex {
    grid-template-columns: 1fr;
    gap: 5px;
  }
}
